/*fonte do titulo*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*fonte do paragrafo*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/*reset basico*/

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/*cor de fundo do site*/
body{
    background-color:bisque;
}

/*alterando o estilo da seção de personagem*/
#personagem{
    background-color:#36013C;
    padding: 50px 20px; /*espaçamento interno*/
}

/*alterando o estilo do titulo da página de personagens*/
#personagem h2{
    font-family: 'Dancing Script'; /*funte da letra*/
    text-align: center;
    font-size: 40px;
    color: bisque;
    margin-bottom: 30px;
}

/*alterando o estilo seção div*/
.container-personagens{
    display: flex; /*ativa o flexbox*/
    flex-wrap: wrap; /*ele quebra a linha, quando não tem espaço suficiente*/
    justify-content: center; /* alinha os itens no eixo principal*/
    align-items: stretch; /*deixa os itens com a mesma altura, "esticado" como tamnho do container*/
    gap: 30px; /*espaçamento de um para o outro*/

}

/*alterando os cards de personagens*/

.item{
    width: 250px;
    background-color: bisque;
    border-radius: 10px; /*arredondar as bordas*/
    padding: 20px;
    display: flex; /*ativa o flexbox*/
    flex-direction: column; /*ativa o comportamneto da coluna*/
    justify-content: space-between; /*alinhar os itens no eixo principal*/
    transition: 0.3s; box-shadow: 0.3s; /*criam um efeito visual suave de elevação ou profundidade (como um botão ou cartão) ao interagir com um elemento (geralmente ao passar o mouse)*/
}

.item:hover{
    transform: translateY(-10px); /*mover (deslocar) um elemento verticalmente (para cima ou para baixo) em relação à sua posição original */
    box-shadow: 0 0 20px rgb(255, 255, 255); /* adicionar efeitos de sombra ao redor ou dentro de elementos */
}
/*alterando as imagens*/
.item img{
    width: 100%;
    height: 220px;

    /*evitar a distorção da imagem*/
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 15px;
}

/*alterando o texto do paragrafo*/
.item p{
    color: #36013C;
    font-weight: bold;
    margin-bottom: 10px;
}

/*alterando a tag h3*/
.item h3{
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
}

/*alterando as tags*/
.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

/*alterando o estilo das tag*/
.tag{
    color:bisque;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.biografia:hover{
    background-color:bisque;
    color: #36013C;
}

.momentos:hover{
    background-color: bisque;
    color: black;
}

/*alterando a mesma tag, porem outra dentro dela*/
.biografia{
    background-color:#36013C;
}

.momentos{
    background-color: black;
}

/*MEDIA QUERY*/ 

@media(max-width:600px){
    #personagem h2{
        font-size: 50px;
    }

    .item{
        width: 100%;
        max-width: 320px;
    }
}
